PORT=3000
MONGO_URI=mongodb+srv://yt:ihLkTwmIwJ8zzqBU@yt-complete-backend-clu.bdo34iv.mongodb.net/comet
IMAGEKIT_PRIVATE_KEY=private_jE16eQ1JSWeIZkxnECTDkInIe5o=
JWT_SECRET_KEY=faa85deb708c8bbb595de8bab14fdefa0417a4bd05f759833bd8bbb101023ad7